<div id="navbar-container">
    <nav class="navbar">
        <ul class="navbar-list">
            <li class="navbar-item"><a href="index.html" class="navbar-link">Home</a></li>
            <li class="navbar-item"><a href="about.html" class="navbar-link">About</a></li>
            <li class="navbar-item">
                <a href="#" class="navbar-link">Projects</a>
                <ul class="dropdown-menu">
                    <li><a href="project1.html">Project 1</a></li>
                    <li><a href="project2.html">Project 2</a></li>
                </ul>
            </li>
            <li class="navbar-item"><a href="contact.html" class="navbar-link">Contact</a></li>
        </ul>
    </nav>
</div>
