<nav>
    <ul class="navbar">
        <li><a href="index.html">Home</a></li>
        <li><a href="creative.html">Creative Work</a></li>
        <li class="dropdown">
            <a href="academic.html" class="dropdown-toggle">Academic Work</a>
            <ul class="dropdown-menu">
                <li><a href="pedagogy.html">Pedagogy</a></li>
                <li><a href="scholarship.html">Scholarship</a></li>
                <li><a href="digital-projects.html">Digital Projects</a></li>
            </ul>
        </li>
        <li><a href="bridging.html">Bridging Practices</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
</nav>